<h1>Listing all stops</h1>
<% @stops.each do |stops| %>
<div class="row">
    <div class="col-md-2">
        <section class="center">
        
        </section>
    </div>
    <div class="col-md-8 well">

        <p>
            <h2>Stop_name</h2><h2><%= stops.name %></h2>
        </p>
        
    </div>
</div>
<% end %>
<h1> Send locations here </h1>
<div class="row chat-container">
    <div class="col-md-8 center-block">
        <div class="messages" id="messages">
         <%= render @message %>
        </div>
        <hr />
        <div class="message-container">
            <%= form_for(@message, remote: true,  :html => {class: "form-horizontal", role: "form"}) do |f| %> 
                <%= f.text_area :content, class: "form-control", placeholder: "Send location" %><br><br>
                <%= f.submit "send", class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>
</div>