<%= link_to "Create a new Route", new_route_path, class: "btn btn-xlarge btn-primary" %>
<h1>List of all routes</h1>
<% @routes.each do |route| %>
  <div class="row">
    <div class="col-md-2">
        <section class="center">
        </section>
    </div>
    <div class="col-md-8 well">
        <p>
            <h2>Name: <%= route.name %></h2>
            <h2>Start Stop: <%= route.start_stop.name %></h2>
            <h2>End Stop: <%= route.end_stop.name %></h2>
            <h2>Distance: <%= route.distance %></h2>
            <h2>Time: <%= route.time %></h2>
            <h2>Total Stops: <%= route.stops.count + 2 %></h2>
        </p>
        <div class="route-actions">
            <%= link_to "Add more Stops", route_path(route), class: "btn btn-xs btn-primary" %>
        </div>
    </div>
  </div>
<% end %>
