<h1>Update existing route</h1>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@bus, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :regestration_no %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :regestration_no, class: "form-control", placeholder: "Enter regestration_no", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :no_of_seates %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :no_of_seates, class: "form-control", placeholder: "Enter no_of_seates" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
     
    <% end %>
  </div>
</div>