<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag 'xyz.png', alt:"" %>Profile
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            
            </li>
            <li><a href="javascript:;">Help</a></li>
            <% if user_signed_in?%>
              <li><%= link_to current_user.email, edit_user_registration_path %></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span>Logout</span>
                  <i class="fa fa-sign-out pull-right"></i>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to "Signup", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
        <li class="">
          <%= link_to "Buses", buses_path %>
        </li>
        <li class="">
          <%= link_to "Routes", routes_path %>
        </li>
        <li class="">
          <%= link_to "Stops", stops_path %>
        </li>
        <li class="">
          <%= link_to "User Invitation", new_user_invitation_path %>
        </li>
      </ul>
    </nav>
  </div>
</div>
       
            
              
             
           