<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag 'xyz.png', alt:"...", class:"img-circle profile_img" %>
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>Track</h2>
      </div>
    </div>
   

    <br>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section active">
        <h3>General</h3>
        <ul class="nav side-menu" style="">
          <li class=""><a><i class="fa fa-home"></i><%= link_to "Buses", buses_path %></a> 
          </li>
        </ul>
        <ul class="nav side-menu" style="">
          <li class=""><a><i class="fa fa-edit"></i>
            <%= link_to "Routes", routes_path %></a>
          </li>
        </ul>


        <ul class="nav side-menu" style="">
          <li class=""><a><i class="fa fa-desktop"></i><%= link_to "Stops", stops_path %></a>
          </li>
        </ul>
        <ul class="nav side-menu" style="">
          <li class=""><a><i class="fa fa-table"></i> Tables </a>
          </li>
        </ul>

        <ul class="nav side-menu" style="">
          <li class=""><a><i class="fa fa-bar-chart-o"></i> Data Presentation </a>
          </li>
        </ul>
        <ul class="nav side-menu" style="">
          <li class=""><%= link_to destroy_user_session_path, method: :delete do %> <span class="glyphicon glyphicon-off" aria-hidden="true">  Logout</span>
            <% end %>
          </li>
        </ul>

      </div>
    </div>
      
    <!-- /sidebar menu -->

   
  </div>
</div>
