<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'layouts/navigation' %>

<div class="container">
  <% if notice %><div class="alert alert-info"><%= notice %><% end %>
  <% if alert %><div class="alert alert-warning"><%= alert %><% end %>

  <%= yield %>
</div>
</body>
</html>
